@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));


.page-header {
    @apply flex flex-col sm:flex-row items-center justify-between gap-1;
}

.page-header > .title {
    @apply text-2xl font-bold text-gray-900 dark:text-gray-100 flex-1;
}

.page-header > .title > h2 {
    @apply text-2xl font-bold flex-1;
}

.page-header > .action {
    @apply flex gap-1;
}

.infolist {
    @apply space-y-2;
}

.infoblock {
    @apply grid gap-4;
}

.infoblock.g-2 {
    @apply grid-cols-1 md:grid-cols-2;
}

.infoblock.g-3 {
    @apply grid-cols-1 md:grid-cols-3;
}

.infoblock.g-4 {
    @apply grid-cols-1 md:grid-cols-4;
}

.infoblock div {
    @apply flex justify-between items-start;
}

.infoblock dt {
    @apply font-semibold text-xs uppercase text-gray-800 dark:text-gray-200;
}

.infoblock dd {
    @apply text-gray-800 dark:text-gray-400;
}

.infoblock .note {
    @apply text-xs text-gray-400;
}

.form-card {
    @apply md:grid md:grid-cols-4 lg:grid-cols-3 bg-white rounded-lg shadow;
}
.form-card .heading {
    @apply md:col-span-1 p-4 shadow-sm md:shadow-none;
}
.form-card .heading > h3 {
    @apply font-medium;
}
.form-card .heading > p {
    @apply text-sm;
}
.form-card .body {
    @apply p-4 md:col-span-3 lg:col-span-2 md:mt-0;
}
.lyrics p {
    @apply mt-5;
}
.lyrics p:first-child {
    @apply mt-0;
}
.form-card .footer {
    @apply col-span-full bg-gray-50 px-4 py-3 text-right rounded-b;
}

ul.focusable .focusable-item {
    @apply py-2 px-4 border-b bg-white cursor-pointer;
}
ul.focusable .focusable-focus {
    @apply -mx-1.5 sm:-mx-2 my-1.5 pt-2 bg-white rounded shadow;
}
ul.focusable .focusable-focus h4 {
    @apply mb-1 px-4 font-semibold;
}
ul.focusable .focusable-focus p {
    @apply pb-0.5 px-4 text-sm text-gray-600;
}
ul.focusable .focusable-focus .header {
    @apply mt-2 py-1 px-4 bg-gray-100 font-semibold;
}
ul.focusable .focusable-focus .list-item {
    @apply sm:flex mx-4 py-1.5 border-b last:border-none;
}

.active\:bg-gray-50:active {
    --tw-bg-opacity:1;
    background-color: rgba(249,250,251,var(--tw-bg-opacity));
}
